!!!
%html

  %head

    -# [if lt IE 7] <html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" >
    -# [if IE 7] <html class="no-js ie ie7 lt-ie9 lt-ie8" >
    -# [if IE 8] <html class="no-js ie ie8 lt-ie9" >
    -# [if gt IE 8]><!
    -# <![endif]>

    %meta{charset: "{{site.charset}}"}
    %title
      {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
      {% else %}
      {{ site.name }}
      {% endif %}

    -#added description
    %meta{content: "Design beautiful presentations that will leave your audience in awe. Canva makes it easy to design  your own templates allowing you to customise and tell your story. ", name: "description"}
    -# added keywords
    %meta{content: "canva, design, presentation, presentations", name: "keywords"}
    -# added robots/index
    %meta{content: "index, follow", name: "robots"}
    -# The rest
    %meta{content: "text/html; charset=UTF-8", http-equiv: "Content-Type"}
    %meta{content: "IE=edge,chrome=1", http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: "", rel: "pingback"}

    {{function('wp_head')}}

    -# Head Block
    {% block head %}

    {% endblock %}

    -# CSS
    %link{href: "{{theme.link}}/assets/stylesheets/core.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %body{class: "{{body_class}}", data-template: "base.twig"}

    -# Navigation Mobile

  -# Page Header
  {% block header %}
    %section#page-header
      .header-container
        %img{src:"{{site.theme.link}}/assets/svgs/logo-white.svg"}
  {% endblock %}

      -# Page Content
    {% block content %}
      sorry no content
    {% endblock %}

    -# Page Footer
    {% block footer %}
      %section#page-footer
        .footer-container
          %p © Canva {{post|date('Y')}}

      -# move scripts to footer
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

        %script
        :javascript
          $( function() {
            $( "#accordion" ).accordion({
              collapsible: true
            });
          } );

          $("#accordion").accordion({ header: "h3", collapsible: true, active: false });

        %script
        :javascript
          jQuery('p:empty').remove();

    {% endblock %}
